{{ "article.css" | asset_url | stylesheet_tag }}

<div class="articleContainer">
  {% if article.image != blank %}
    <img src="{{ article.image | image_url: width: 375}}">
  {% endif %}
    <h2>{{ article.title }}</h2>
    <p class="subtitle">By
        {{ article.author }}</p>
    {% if article.excerpt.size > 0 %}
        <p class="strong">{{ article.excerpt }}</p>
    {% endif %}

    <p class="body">{{ article.content }}</p>
</div>
