{{ 'pageNotFound.css' | asset_url | stylesheet_tag }}

{% capture homepageLink %}
    {{ shop.url }}
{% endcapture %}

<div class="pageNotFoundContainer">
    <h2>{{ 'general.404.title' | t }}</h2>
    <h2>{{ 'general.404.subtext_html' | t }}</h2>
    <a href="{{ homepageLink }} " class="button secondary width100">
        <p class="buttontxt secondary">return to shop</p>
    </a> 
</div>
